Markup Jupyter Notebook 1

In [1]:

import pandas as pd

df_data_1 = pd.read_csv('/project_data/data_asset/churn.csv')
df_data_1.head()

   ID CHURN
0   6     F
1  11     F
2  22     F
3  23     F
4  35     T